body {
  background-color: #000;
  background-image: url('../images/background.jpg');
  color: #fff;
}

img {
  display: block;
}

h3 {
  text-align: center;
  font-size: 24px;
}

p {
  margin: 1em 0.5em 0;
}

.modal {
  background: #000;
  border: 1px solid #fff;
}

.gallery-image {
  width: 100%;
  margin: 7em auto;
}

.modal-image {
  width: 100%;
}

#ghost {
  margin: 15vh auto;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

#linkedin {
  margin: auto;
  width: 35px;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
