body {
  background-color: #000;
  color: #fff;
}

img {
  display: block;
}

h3 {
  text-align: center;
}

p {
  margin-bottom: 0;
}

.modal {
  color: #000;
}

.gallery-image {
  width: 100%;
  margin: 7em auto;
}

.modal-image {
  width: 100%;
}

#ghost {
  margin: 15vh auto;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

#linkedin {
  margin: auto;
  width: 40px;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
